/QProtocolAnalyzer/dist/
/QProtocolAnalyzer/build/
/QPAFileHelper/build/
/QPAFileHelper/dist/
/QPASkeleton/dist/
/QPASkeleton/build/
/QPAUtility/dist/
/QPAUtility/build/
/QPAFieldType/dist/
/QPAFieldType/build/